<template>
  <footer class="md:bg-gray-700 px-4 py-8 bg-gray-900 border-t border-gray-500">
    <!-- Icons -->
    <SocialLinks class="md:hidden flex justify-around" />
    <!-- Text -->
    <div class="md:flex flex-col justify-center mt-6 tracking-wide">
      <div class="text-center">
        &#9400; Gregor Julius Zweig &bull;
        <span class="underline">
          Legal Notice
        </span>
      </div>
    </div>
  </footer>
</template>

<script>
import SocialLinks from "@/components/ui/SocialLinks.vue";

export default {
  components: {
    SocialLinks
  }
};
</script>
