<template>
  <header
    class="sticky top-0 z-20 flex flex-wrap items-center text-white bg-gray-800 shadow-xl"
  >
    <!-- uncollapsable nav bar -->
    <div class="flex items-center justify-between w-full p-4">
      <!-- logo -->
      <div class="flex items-center font-hairline">
        <svg class="w-12 h-12 mr-2 fill-current" width="100%" height="100%">
          <text
            x="50%"
            y="50%"
            dominant-baseline="middle"
            text-anchor="middle"
            font-size="28"
            stroke-width="0"
          >
            .gz
          </text>
          <rect
            x="0"
            y="0"
            fill="none"
            stroke="#fff"
            stroke-width="0.125rem"
            width="100%"
            height="100%"
          />
        </svg>
        <!-- <span class="text-4xl font-hairline">Gregor Zweig</span> -->
      </div>
      <!-- collapse button -->

      <button class="z-50" type="button" @click="isOpen = !isOpen">
        <svg class="w-12 h-12 fill-current" viewBox="0 0 24 24">
          <path
            v-if="isOpen"
            fill-rule="evenodd"
            d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
          />
          <path
            v-if="!isOpen"
            fill-rule="evenodd"
            d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
          />
        </svg>
      </button>
    </div>
    <!-- collapsable nav items -->
    <div class="hidden" v-show="isOpen">
      <NavLinks />
    </div>
    <!-- side menu on mobile screens -->
    <transition name="fade">
      <aside
        class="fixed inset-y-0 right-0 z-40 flex flex-col justify-center w-3/4 bg-gray-900"
        v-show="isOpen"
      >
        <NavLinks />
      </aside>
    </transition>
  </header>
</template>

<script>
import NavLinks from "@/components/ui/NavLinks.vue";

export default {
  components: {
    NavLinks
  },
  data: function() {
    return {
      isOpen: false
    };
  }
};
</script>

<style scoped>
/* Transitions */
.fade-enter-active,
.fade-leave-active {
  right: translateX(0%);
  transition: transform 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  transform: translateX(100%);
}
</style>
