<template>
  <section id="about" class="relative">
    <!-- Background Title -->
    <div class="flex items-center">
      <h1 class="section-heading">
        .About
      </h1>
      <div class="section-divider" />
    </div>
    <!-- Content -->
    <div class="md:grid-cols-2 grid grid-cols-1 gap-12">
      <!-- Col 1 -->
      <div>
        <p>
          I am doing my master degree in computer science, specializing on
          algorithmics and development of large and scalable software projects.
        </p>
        <p>
          As an software enthusiast my interests cover a respectable amount of
          topics:
        </p>
        <ul>
          <li>Web &amp; Mobile Application Development</li>
          <li>User Interface &amp; User Experience Design</li>
          <li>Data Science</li>
        </ul>
        <p>For an complete overview of my skillset take a look at my resumé.</p>
        <button class="btn btn-orange-outline mt-4">Download Resumé</button>
      </div>
      <!-- Col 2 -->
      <div class="bg-border md:mx-auto relative mx-4 mb-auto">
        <img src="@/assets/images/pp.jpg" class="relative z-10" />
      </div>
      <!-- Col 3 -->
      <div>
        <Timeline />
      </div>
    </div>
  </section>
</template>

<script>
import Timeline from "@/components/ui/Timeline.vue";

export default {
  components: {
    Timeline
  }
};
</script>

<style scoped>
.bg-border::after {
  content: "";
  @apply absolute w-full h-full border-orange-600 border-2 rounded top-0 left-0;
  transform: translate(5%, 5%);
  transition: transform 500ms ease;
}

.bg-border:hover::after {
  transform: translate(2.5%, 2.5%);
}
</style>
