<template>
  <section id="contact" class="relative">
    <!-- Background Title -->
    <div class="flex items-center">
      <h1 class="section-heading">
        .Contact
      </h1>
      <div class="section-divider" />
    </div>
    <!-- Content -->
    <div class="flex flex-col items-center">
      <p class="text-center">
        Altough I'm currently not looking for any new job opportunities, I am
        open to anyone, who wants to get in contact or has unanswered questions.
      </p>
      <form class="w-full m-2">
        <input
          class="block w-full p-2 mb-2 bg-gray-900 border-b-2 rounded-t"
          type="text"
          placeholder="Name"
        />
        <input
          class="block w-full p-2 mb-2 bg-gray-900 border-b-2 rounded-t"
          type="text"
          placeholder="Mail"
        />
        <textarea
          class="block w-full p-2 mb-2 bg-gray-900 border-b-2 rounded-t"
          type="text"
          placeholder="Message"
          rows="4"
        />
      </form>
      <a class="btn btn-orange-outline mt-4" href="">
        Send me a carrier pidgeon
      </a>
    </div>
  </section>
</template>

<script></script>

<style scoped>
.input:not(:last-of-type) {
  @apply mb-2;
}
</style>
