<template>
  <section id="intro" class="flex items-center min-h-screen">
    <div>
      <!-- Text -->
      <span class="sm:text-5xl block text-3xl font-bold text-center"
        >Flourishing mobile and web with future innovations.</span
      >
      <p class="mt-4 text-lg text-center">
        I am
        <span class="text-orange-500">Gregor Zweig</span>, a computer science
        student located at <span class="text-orange-500">Jena, Germany</span>. I
        strive to create astonishing and impeccable applications , respecting
        latest technologies and perforemance standards.
      </p>
      <!-- CTA-Buttons -->
      <a class="btn btn-orange-outline block w-full mt-8" href="#about">
        Get to know me
      </a>
      <a class="btn btn-orange-outline block w-full mt-2" href="#contact">
        Get in touch
      </a>
    </div>
  </section>
</template>

<script></script>

<style scoped>
.logo-mask {
  mask: url("../assets/images/logo-flowerpecker.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-mode: alpha;
}
</style>
