<template>
  <section id="projects" class="relative">
    <!-- Background Title -->
    <div class="flex items-center">
      <h1 class="section-heading">
        .Projects
      </h1>
      <div class="section-divider" />
    </div>
    <!-- Text -->
    <p>
      I work with a diverse range of languages and technologies. Filter through
      tags and let my work speak for itself.
    </p>
    <!-- Projects -->
    <div class="lg:grid-cols-3 sm:grid-cols-2 grid grid-cols-1 gap-4 mt-2">
      <ProjectCard
        v-for="project in projects"
        :key="project.title"
        :projectRelease="project.release"
        :projectTitle="project.title"
        :projectBrief="project.brief"
        :projectTags="project.tags"
      >
        {{ project.description }}

        <!-- Links -->
        <template v-slot:links>
          <a class="btn btn-orange-outline" :href="project.repository.link">
            View on {{ project.repository.hostname }}
          </a>
        </template>
      </ProjectCard>
    </div>
  </section>
</template>

<script>
import ProjectCard from "@/components/ui/ProjectCard.vue";

import projects from "@/data/projects.js";

export default {
  components: {
    // GitlabIcon,
    ProjectCard
  },
  data: function() {
    return { projects };
  }
};
</script>
