<template>
  <AppHeader />
  <!-- Scroll Container -->
  <main class="bg-gray-700">
    <HeroSection />
    <AboutSection />
    <ProjectsSection />
    <ContactSection />
    <AppFooter />
  </main>
  <!-- Socials -->
  <!-- <div
    class="absolute top-0 bottom-0 left-0 flex flex-col items-center justify-center h-full p-2"
  >
    <span class="test text-sm text-gray-400">gregorzweig@yahoo.com</span>
    <div class="w-0.5 h-16 my-4 bg-gray-400 rounded" />
    <SocialLinks class="flex flex-col text-gray-400" />
  </div> -->
</template>

<script>
import AppHeader from "@/components/layout/AppHeader.vue";
import HeroSection from "@/components/HeroSection.vue";
import ProjectsSection from "@/components/ProjectsSection.vue";
import ContactSection from "@/components/ContactSection.vue";
import AboutSection from "@/components/AboutSection.vue";
import AppFooter from "@/components/layout/AppFooter.vue";

export default {
  name: "App",
  components: {
    AppHeader,
    AppFooter,
    HeroSection,
    AboutSection,
    ProjectsSection,
    ContactSection
  }
};
</script>
