/* purgecss start ignore */
@tailwind base;

body {
  @apply font-body4 text-white;
}

button:focus {
  @apply outline-none;
}

section {
  @apply px-6 pb-16 overflow-x-hidden;
}

p:not(:last-of-type) {
  @apply mb-2;
}

ul {
  @apply relative mt-1 mb-2;
}

ul li::before {
  content: "\25AA";
  @apply absolute left-0 text-orange-500;
}

li {
  @apply pl-4;
}

li:not(:last-of-type) {
  @apply mb-1;
}

/* responsiveness */
@screen sm {
  section {
    @apply px-12 py-24;
  }

  nav {
    @apply px-12;
  }
}

@screen md {
  section {
    @apply px-16 py-32;
  }

  nav {
    @apply px-16;
  }
}

@screen lg {
  section {
    @apply px-20 py-40;
  }

  nav {
    @apply px-20;
  }
}

@screen xl {
  section {
    @apply px-40 py-48;
  }

  nav {
    @apply px-40;
  }
}

@tailwind components;
/* purgecss end ignore */

/* global classes */
/* Scrollbar */
.scrollable {
  overflow-y: auto;
}

.scrollable::-webkit-scrollbar {
  @apply w-1 bg-gray-900;
}

.scrollable::-webkit-scrollbar-thumb {
  @apply bg-orange-500 rounded;
}

/* Buttons */
.btn {
  @apply block w-full px-4 py-2 text-center border-2 rounded-lg;
}

.btn-orange-outline {
  @apply font-bold tracking-widest text-white uppercase bg-orange-500 bg-opacity-25 border-orange-500;
}

.btn-orange-outline:hover {
  @apply bg-opacity-50;
  transition: all 0.2s ease-in;
}

/* Sections */
.section-heading {
  @apply font-head mr-1 text-5xl text-gray-400 whitespace-no-wrap select-none;
}

.section-divider {
  @apply w-full h-0.5 bg-gray-400 rounded;
}

/* Responsiveness */
@screen sm {
  .scrollable::-webkit-scrollbar {
    @apply w-2;
  }

  .section-heading {
    @apply text-8xl;
  }
}

@screen md {
  .section-heading {
    @apply text-9xl;
  }
}

@screen lg {
  .section-heading {
    @apply text-10xl;
  }
}

@tailwind utilities;
