<template>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="contactName">Your Name</label>
        <input type="text" class="form-control" id="contactName" required />
      </div>
      <div class="form-group col-md-6">
        <label for="contactMail" required>Your E-Mail</label>
        <input type="email" class="form-control" id="contactMail" required />
      </div>
    </div>
    <div class="form-group">
      <label for="contactSubject">Subject</label>
      <input type="text" class="form-control" id="contactSubject" />
    </div>
    <div class="form-group">
      <label for="contactMessage">Message</label>
      <textarea
        class="form-control"
        id="contactMessage"
        rows="6"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</template>

<script>
export default {};
</script>

<style scoped>
textarea {
  resize: none;
}
</style>
