<template>
  <a class="nav-link" href="#intro">
    Home
  </a>
  <a class="nav-link" href="#about">
    About
  </a>
  <a class="nav-link" href="#projects">
    Projects
  </a>
  <a class="nav-link" href="#contact">
    Contact
  </a>
</template>

<script></script>

<style scoped>
.nav-icon {
  @apply w-8 h-8 mr-2;
}

.nav-link {
  /* @apply flex items-center text-lg rounded p-4; */
  @apply flex items-center justify-center text-lg rounded p-4 m-2;
}

.nav-link:hover {
  @apply text-white bg-gray-600;
}

@screen md {
  .nav-link {
    @apply mx-4;
  }

  .nav-link:hover {
    @apply bg-gray-600;
  }
}
</style>
