<template>
  <div class="project-card">
    <div class="p-4">
      <!-- Release -->
      <div class="project-card-release">
        {{ projectRelease }}
      </div>
      <!-- Title -->
      <h4 class="project-card-heading">
        {{ projectTitle }}
      </h4>
      <!-- Brief -->
      <p>
        {{ projectBrief }}
      </p>
      <!-- Tags -->
      <div class="mt-8"></div>
      <ProjectCardTag
        v-for="projectTag in projectTags"
        :key="projectTag"
        :tagLogo="projectTag.toLowerCase().concat('-logo.svg')"
      >
        {{ projectTag }}
      </ProjectCardTag>
      <!-- Description -->
      <p class="hidden">
        <slot></slot>
      </p>
    </div>
    <hr />
    <div class="p-4">
      <slot name="links"></slot>
    </div>
  </div>
</template>

<script>
import ProjectCardTag from "@/components/ui/ProjectCardTag.vue";

export default {
  components: {
    ProjectCardTag
  },
  props: {
    projectTitle: {
      type: String,
      required: true
    },
    projectRelease: {
      type: String,
      required: true
    },
    projectBrief: {
      type: String,
      required: true
    },
    projectTags: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped>
.project-card {
  @apply z-10 bg-gray-800 rounded border-t-4 border-yellow-500 shadow-lg;
}

.project-card-release {
  @apply font-mono text-base font-hairline text-gray-400;
}

.project-card-heading {
  @apply mb-1 text-orange-500 text-xl font-bold;
}
</style>
