<template>
  <div class="card-tag" :class="tagClass">
    <img class="w-3 h-3 mr-1" :src="require(`@/assets/images/${tagLogo}`)" />
    <div class="text-xs tracking-wider">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    tagClass: {
      type: String,
      validator: function(tagClass) {
        return ["default"].includes(tagClass);
      },
      default: function() {
        return "default";
      }
    },
    tagLogo: {
      type: String,
      required: true
    }
  }
};
</script>

<style scoped>
/* NOTE: Add new classes to tagClass validator */
.default {
  @apply bg-gray-600 text-white;
}
/* NOTE: END */

.card-tag {
  @apply inline-flex items-center px-1 py-1 rounded;
}

.card-tag:not(:last-of-type) {
  @apply mr-1;
}
</style>
