<template>
  <div>
    <a href="https://github.com/flys1ck">
      GH
    </a>
    <a href="https://gitlab.com/flys1ck">
      GL
    </a>
    LI
    <a href="https://www.instagram.com/gregorjz/">
      IG
    </a>
    MAIL
  </div>
</template>

<script></script>

<style scoped>
.social-icon:hover {
  @apply text-orange-600;
}
</style>
