<template>
  <div>
    <!-- Employer Scrollbar -->
    <div class="overflow-x-auto whitespace-no-wrap">
      <div
        class="inline-block px-4 py-2 text-center rounded-t cursor-pointer"
        :class="
          selectedEvent == event.employer.name
            ? 'border-b-2 border-orange-500 text-orange-500 font-bold bg-gray-800 rounded-t'
            : 'border-b-2 border-gray-600 bg-gray-600'
        "
        @click="selectedEvent = event.employer.name"
        v-for="event in timelineEvents"
        :key="event.employer.name"
      >
        {{ event.employer.name }}
      </div>
    </div>
    <div
      class="bg-gray-800 rounded"
      v-for="event in filterEvents(selectedEvent)"
      :key="event.employer.name"
    >
      <div class="p-4 text-center">
        <h1>
          {{ event.position }}
          <a class="text-orange-500" :href="event.employer.link">
            @{{ event.employer.name }}
          </a>
        </h1>
        <h4 class="font-mono text-gray-400">
          {{ event.startTime }} - {{ event.endTime }}
        </h4>
      </div>
      <hr />
      <div class="p-4">
        <ul>
          <li v-for="bullet in event.bullets" :key="bullet">{{ bullet }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import timelineEvents from "@/data/timelineEvents.js";

export default {
  data: function() {
    return {
      timelineEvents: timelineEvents.reverse(), // exports events
      selectedEvent: timelineEvents[0].employer.name // display current employer first as default
    };
  },
  methods: {
    filterEvents: function(eventName) {
      return timelineEvents.filter(event => event.employer.name == eventName);
    }
  }
};
</script>
